.p-cellWrapper{
    display: flex;
    align-items: center;
}

 .productImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.status {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.151);
}

.status .Approved{
    color: green;
    background-color: rgba(0, 0, 0, 0.151);
}

.status .Approved{
    color: goldenrod;
    background-color: rgba(189, 189, 3, 0.103);
}

